@import '../../styles/settings'


.SettingsBoard
  h4
    color color-1 !important
    font-weight bold !important
  Form
    color color-1 !important

.tabTeam
  a
    color color-1 !important

.generalBoardRendering
  margin-top -20px