@import '../../styles/settings'

.cardTeam
  margin-top 1.875em;
  background color-2 !important
  .cardTeamHeader
    color color-3 !important
  .cardTeamMeta
    color color-1 !important
  &:hover
    opacity 0.8 !important