@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings.styl'

.bundList
  background-color color-3
  //margin-top rem-calc(20)
  padding rem-calc(10)
  padding-left rem-calc(10)

.marg
  margin-left rem-calc(50)

.cardCustom
  color black
  min-width 300px
  margin 10px

.ListCard
  background color-3 !important

.TitleList
  font-size 18px
  color color-1 !important
  margin 15px !important

.cardBoard
  margin-top 1.875em;
  background color-2 !important
  .cardBoardHeader
    color color-3 !important
  .cardBoardMeta
    color color-4 !important
  &:hover
    opacity 0.8 !important
