@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings.styl'

.bundList
  background-color color-3
  //margin-top rem-calc(20)
  padding rem-calc(10)
  padding-left rem-calc(10)

.marg
  margin-left rem-calc(50)

.cardCustom
  color black
  min-width 300px
  margin 10px

.TitleList
  color color-1 !important
  margin 10px !important
