@import '../../styles/settings'



h1
  text-align: center

.teamBox
  background-color color-3
  margin-top rem-calc(20)
  order rem-calc(1) solid lighten(color-main-dark, .5)
  padding rem-calc(10)
  box-shadow 0 0 rem-calc(4) 0 color-2;

.titleTeamBox
  text-align center
  color color-1

.tabTeam
  text-align center
  a
    color color-4 !important