@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings.styl'


.loginBox
  background-color color-3
  margin-top rem-calc(20)
  order rem-calc(1) solid lighten(color-main-dark, .5)
  padding rem-calc(10)
  box-shadow 0 0 rem-calc(4) 0 color-2;

.titleLoginBox
  text-align center
  color color-1


.label
  color color-1 !important

.logo
  margin-left auto
  margin-right auto
  margin-top rem-calc(50)
  margin-bottom rem-calc(20)

