@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'
@import '../../styles/settings.styl'

.Menu
  padding: 0
  margin: 0
  color color-2

.body
  padding: 0
  margin: 0

.main_container
  padding: 0
  margin: 0

.CardGroup
  margin-left rem-calc(50)
  //padding-left rem-calc(50)

.title
  margin-left rem-calc(50)
  //padding-left rem-calc(50)

.test2
  background-color color-3