@import '../../styles/settings'


.cardBoard
  margin-top 1.875em;
  background color-4 !important
  .cardBoardHeader
    color color-3 !important
  .cardBoardMeta
    color color-1 !important
  &:hover
    opacity 0.8 !important

.buttonAddBoardTeam
  margin-top 1.5em;
  margin-right 0.5em;
  margin-bottom 0.475em;
  margin-left 0.5em;

.modalContentCutomize
  max-height 500px;
  z-index 1000;

.settingsButtons
  bottom 2em;

