@import '../../styles/settings'


.cardBoard
  background color-4 !important
  .cardBoardHeader
    color color-3 !important
  .cardBoardMeta
    color color-1 !important
  &:hover
    opacity 0.8 !important

.buttonAddBoardTeam
  margin-top 1.875em;
  margin-right 0.5em;
  margin-bottom 0.875em;
  margin-left 0.5em;




