@import '../../styles/settings'

.generalBoardRendering
  margin-top -20px
  background-image url('./../../styles/assets/background.jpg')

.listBox
  width 100% !important
  display flex !important
  overflow-x auto !important
  min-width 100%
  height 83vh

.cardCustom
  color black
  min-width 300px
  margin 10px

.ListCard
  background color-3 !important