@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'
@import '../../styles/settings.styl'

/*.Menu
  color color-5

.body
  padding: 0
  margin: 0
  background-color color-3

.main_container
  padding: 0
  margin: 0

.CardGroup
  margin-left rem-calc(50)
  //padding-left rem-calc(50)

.list
  margin-left rem-calc(50)

.title
  margin-left rem-calc(50)
  //padding-left rem-calc(50)

.test2
  background-color color-3*/
.margin
  margin-left rem-calc(50)

.littleMargin
  margin-left rem-calc(10)