@import '../../styles/settings'


.modalCustom
  top 40px !important
  bottom  10px !important
  max-height 90vh !important

.buttonAddStickers
  margin-top 0.9em;
  margin-right 0.5em;
  margin-bottom 0.875em;
  margin-left 0.5em;

.modalContentCutomize
  max-height 85vh !important
  overflow scroll
  bottom 1px !important